/*

#111111, #FFFFFF en #E40515.
responsive design voor schermbreedtes tussen 2500px en 500px.
*/

/* TOP-NAV SECTION MET RECLAMETEKST */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
}

.top-bar {
    background-color: #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.top-bar p {
    margin: .2rem 1rem;
}

/* NAVBAR SECTION MET ICONEN EN LOGO */

.nav-bar {
    width: 100%;
    margin: 0 auto;
    background-color: #1F272A;
    color: #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 4rem;
}

.nav-bar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar__logo__text {
    font-size: 2rem;
    color: #ffdd32;
    margin-right:.4rem;
}

.nav-bar__logo__icon {
    color: #ffdd32;
}

.nav-bar__iconlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.nav-bar__iconlist_item {
    padding: 1rem;
    color: #CCCCCC;
}

/* HERO SECTION MET AFBEELDING */

.hero {
    display: flex;
    flex-direction: row;
}

.hero__image {
    width: 100%;
    position: relative;
    z-index: -1;
}

.hero__h1 {
    color: #ffdd32;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 1rem 2rem;
    position: absolute;
    top: 12rem;
    right: 8rem;
    display: flex;
}

.hero__h2 {
    font-size: .8rem;
    color: #ffdd32;
    background-color: rgba(0, 0, 0, 0.45);
    padding: .5rem 1rem;
    position: absolute;
    top: 16.4rem;
    right: 8rem;
    display: flex;
}

/* MAIN SECTION */
/* ARTICLE MET AFBEELDING FIETS + INFO */

main {
    width: 80%;
    margin: 0 auto;
}

.main__h1 {
    color: rgba(5, 10, 26, 0.5);
    margin-top: 4rem;
}

.bike {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bike--reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.bike__image {
    padding: .5rem;
}

.bike-info__header {
    background-color: #1F272A;
    color: #ffdd32;
    padding: 1rem;
}

.bike-info__text {
    margin: .5rem 0;
}

.bike-info__list {
    margin-left: 2rem;
}

.bike-info__list__item {
    font-weight: bold;
}

/* ARTICLE MET BIKE CARDS (Horizontale stack) */

.bikelist--hor {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bike-card {
    width: calc(100% / 3 - 4%);
    text-align: center;
}

.bike-card__image {
    width: 100%;
}

.bike-card__text {
    padding: .5rem;
    background-color: #1F272A;
    color: #ffdd32
}

/* FOOTER MET MAP EN INFO IN LIST +  BACK TO TOP KNOP*/