/*
#1E90FF
#FFFFFF
#CCCCCC
 Maak de structuurelementen header en main 1200px breed en centreer deze op de pagina.

• Zorg dat de article-structuurelementen alle drie even breed zijn.
Dit mag ingesteld worden via de rekenfunctie calc() of via de stijleigenschap flex.

• Zorg voor de nodige responsiviteit:
 <1200px:de header en main nemen de volledige breedte in.
 De main heeft geen randen meer en de header heeft margin én geen afgeronde hoeken meer.
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header, main {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #1E90FF;
    color: #FFF;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #1E90FF;
    border-radius: .4rem;
}

main article {
    padding: .5rem;
    margin: 1rem;
    width: calc(100% / 3 - 4%);
    border: 1px solid #CCCCCC;
    border-radius: .4rem;
}

main article img {
    width: 100%;
}

@media screen and (max-width: 1200px) {

    header {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    main {
        width: 100%;
        border: none;
    }
}


